/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #page-wrap {
      padding: 0;
    }
    .header {
      position: absolute;
      top: 0;
      right: 1rem;
    }
    .blue-background {
      position: relative;
      background-color: transparent;
      border: none;
      left: 0;
    }
    .row {
      flex-direction: column;
      align-items: center;
    }
    .item-sec-2 {
      background-color: #0056c9;
    }
    .item {
      border-radius: 0px 50px 0px 50px;
      padding: 3rem 1rem;
    }
    .white-card {
      position: relative;
      width: 100%;
      height: 25rem;
      top: 0;
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .image {
      position: absolute;
    }
    .boxes {
      width: 100%;
      justify-content: center;
    }
    .box {
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .building {
      position: absolute;
      z-index: -1;
      height: auto;
      bottom: 0;
    }
    .form-col {
      background-color: rgba(255,255,255, 0.4) 
    }
    #section-two, #section-three, #section-four {
      height: auto;
    }
    #section-two {
     height: 120rem; 
    }
    #section-three {
     min-height: 50rem; 
    }
    
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
     .header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(255,255,255,0.5)
    }
    #section-one, #section-two, #section-three, #section-four {
      height: auto;
    }
    .info {
      margin: 4rem 6rem;
    }
    #nyc {
      width: 6rem;
    }
    .presentation-text {
      margin-top: 0.5rem;
    } 
    .blue-background {
      position: relative;
      background-color: transparent;
      border: none;
      left: 0;
      height: 80rem;
    }
    #section-two {
     height: 120rem; 
    }
    .row {
      flex-direction: column;
      align-items: center;
    }
    .item-sec-2 {
      background-color: #0056c9;
    }
    .item {
      border-radius: 0px 50px 0px 50px;
      padding: 3rem 1rem;
    }
    .white-card {
      position: relative;
      width: 100%;
      height: 25rem;
      top: 0;
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .image {
      position: absolute;
    }
    .boxes {
      width: 100%;
      justify-content: center;
    }
    .box {
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .building {
      position: absolute;
      z-index: -1;
      height: auto;
      bottom: 0;
    }
    .form-col {
      background-color: rgba(255,255,255, 0.4) 
    }

    .item {
      margin: 2rem;
    }
    #section-three, #section-four {
      padding-top: 3rem;
    }
    #section-three {
     min-height: 50rem; 
    }

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #section-one {
      height: auto;
    }
    .item {
      margin: 2rem;
    }
    #section-three, #section-four {
      padding-top: 3rem;
    }
    #section-two {
     height: 120rem; 
    }
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}