/* ----------- Nexus 7 ----------- */

/* Portrait */
@media screen 
  and (device-width: 600px) 
  and (device-height: 960px) 
  and (orientation: portrait) {
    #page-wrap {
      padding: 0;
    }
    .header {
      position: absolute;
      top: 0;
      right: 1rem;
    }
    .blue-background {
      position: relative;
      background-color: transparent;
      border: none;
    }
    .row {
      flex-direction: column;
    }
    .item-sec-2 {
      background-color: #0056c9;
    }
    .item {
      border-radius: 0px 50px 0px 50px;
      padding: 3rem 1rem;
    }
    .white-card {
      position: relative;
      width: 100%;
      height: 25rem;
      top: 0;
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .image {
      position: absolute;
    }
    .boxes {
      width: 100%;
      justify-content: center;
    }
    .box {
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .building {
      position: absolute;
      z-index: -1;
      height: auto;
      bottom: 0;
    }
    .form-col {
      background-color: rgba(255,255,255, 0.4) 
    }
    #section-two, #section-three, #section-four {
      height: auto;
    }
    #section-two {
     height: 120rem; 
    }
    #section-three {
     min-height: 50rem; 
    }

}

/* Landscape */
@media screen 
  and (device-width: 960px) 
  and (device-height: 600px) 
  
  and (orientation: landscape) {
    .header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(255,255,255,0.5)
    }
    #section-one, #section-two, #section-three, #section-four {
      height: auto;
    }
    .info {
      margin: 4rem 6rem;
    }
    #nyc {
      width: 6rem;
    }
    .presentation-text {
      margin-top: 0.5rem;
    } 
    .blue-background {
      position: relative;
      background-color: transparent;
      border: none;
      left: 0;
    }
    .row {
      flex-direction: column;
      align-items: center;
    }
    .item-sec-2 {
      background-color: #0056c9;
    }
    .item {
      border-radius: 0px 50px 0px 50px;
      padding: 3rem 1rem;
    }
    .white-card {
      position: relative;
      width: 100%;
      height: 25rem;
      top: 0;
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .image {
      position: absolute;
    }
    .boxes {
      width: 100%;
      justify-content: center;
    }
    .box {
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .building {
      position: absolute;
      z-index: -1;
      height: auto;
      bottom: 0;
    }
    .form-col {
      background-color: rgba(255,255,255, 0.4) 
    }
    #section-two {
     height: 120rem; 
    }
    #section-three {
     min-height: 50rem; 
    }

}

/* ----------- Nexus 9 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 1536px) 
  and (device-height: 2048px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {

}

/* Portrait */
@media screen 
  and (device-width: 1536px) 
  and (device-height: 2048px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 1536px) 
  and (device-height: 2048px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: landscape) {

}