.button {
	margin-top: 2rem;
	background-color: #ff3124;
	border: 1px solid #ff3124;
	text-align: center;
	padding: 0.3 rem 0.5rem;
	height: 30px;
	color: #fff;
	border-radius: 20px;
}
.medium {
	width: 150px
}
.small {
	width: 100px
}
.button:hover {
	background-color: #fc8079;
	cursor: pointer;
}

.ghost {
	background-color: #0056c9;
	border: 1px solid #fff;
	color: #fff;
}
.ghost:hover {
	background-color: rgba(255,255,255,0.4);
	cursor: pointer;
}

.white {
	background-color: #fff;
	border: 1px solid #ff3124;
	color: #ff3124;
	margin: 0;
}
.white:hover {
	background-color: rgba(255, 49, 36,1.0);
	color: #fff;
	cursor: pointer;
}