/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  	.parallax {
  		display: none;
  	}
  	.info{
  		margin: 0;
  	}
  	.presentation-text {
  		margin-top: 1rem;
  	}
  	.header {
  		flex-wrap: wrap;
  		justify-content: center;
  	}
  	.selected::after {
  		width: 100%;
  	}
  	.autor{
  		display: flex;
  		flex-wrap: wrap;
  		justify-content: center;
  		margin-bottom: 2rem;

  	}
  	.autor p {
  		width: 100%;
  		margin: 0;
  	}
  	#page-wrap {
  		margin: 0;
  		padding: 0rem 0rem;
  	}
  	#section-one {
  		text-align: center;
  		height: 100vh;
  		background-color: #7cc8fa;
  		position: relative;
  	}
  	#nyc {
  		height: 6rem;
  		margin-top: 1rem;
  	}
  	#bridge-background {
  		display: none;
  	}
  	.background-white {
  		display: none;
  	}
  	.medium {
  		width: 100%;
  		height: 3rem;
  		font-size: 1.5rem;
  	}
  	.blue-background {
  		border: none;
  		background-color: transparent;
  		left: 0;
  		right: 0;
  		top: 0;
  		position: relative;
  	}
  	.row {
  		margin-top: 6rem;
  		flex-wrap: wrap;
  	}
  	.item {
  		padding: 1rem 0rem;
  		margin: 0;
  		background-color: #0056c9
  	}
  	.white-card {
  		position: relative;
  		top: 0;
  	}
  	.title {
  		margin: 0;
  	}
  	#section-two {
  		background-color: #0056c9;
  		height: auto;
  	}
  	#section-two .title {
  		color: #fff;
  	}
  	.phone {
  		display: none;
  	}
  	.boxes {
  		width: 100%;
  	}
  	.box {
  		width: 100%;
  		height: 30rem;
  	}
  	.image {
  		width: 0;
  	}
  	#section-three {
  		margin: 1rem 0rem;
  		height: auto;
  	}
  	#section-four {
  		margin: 1rem 0rem 0rem 0rem;
  		height: auto;
  	}
  	.building {
  		height: 42rem;
  	}
  	.form-col {
  		position: absolute;
  		top: 0;
  		right: 0;
  		bottom: 0;
  		left: 0;
  		background-color: rgba(255,255,255, 0.8);
  	}
  	.left {
  		margin: 1rem 1rem;
  		font-size: 2rem;
  		text-align: center;
  	}
  	.form {
  		width: auto;
  	}
  	input {
  		width: 100%;
  	}
    #section-two {
     height: 85rem; 
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(255,255,255,0.5)
    }
    #section-one, #section-two, #section-three, #section-four {
      height: auto;
    }
    .info {
      margin: 4rem 6rem;
    }
    #nyc {
      width: 6rem;
    }
    .presentation-text {
      margin-top: 0.5rem;
    } 
    .blue-background {
      position: relative;
      background-color: transparent;
      border: none;
      left: 0;
    }
    .row {
      flex-direction: column;
      align-items: center;
    }
    .item-sec-2 {
      background-color: #0056c9;
    }
    .item {
      border-radius: 0px 50px 0px 50px;
      padding: 3rem 1rem;
    }
    .white-card {
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .image {
      position: absolute;
    }
    .boxes {
      width: 100%;
      justify-content: center;
    }
    .box {
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .building {
      position: absolute;
      z-index: -1;
      height: auto;
      bottom: 0;
    }
    .form-col {
      background-color: rgba(255,255,255, 0.4) 
    }
    #section-two {
     height: 120rem; 
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(255,255,255,0.5)
    }
    #section-one, #section-two, #section-three, #section-four {
      height: auto;
    }
    .info {
      margin: 4rem 6rem;
    }
    #nyc {
      width: 6rem;
    }
    .presentation-text {
      margin-top: 0.5rem;
    } 
    .blue-background {
      position: relative;
      background-color: transparent;
      border: none;
      left: 0;
    }
    .row {
      flex-direction: column;
      align-items: center;
    }
    .item-sec-2 {
      background-color: #0056c9;
    }
    .item {
      border-radius: 0px 50px 0px 50px;
      padding: 3rem 1rem;
    }
    .white-card {
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .image {
      position: absolute;
    }
    .boxes {
      width: 100%;
      justify-content: center;
    }
    .box {
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .building {
      position: absolute;
      z-index: -1;
      height: auto;
      bottom: 0;
    }
    .form-col {
      background-color: rgba(255,255,255, 0.4) 
    }
    #section-two {
     height: 120rem; 
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(255,255,255,0.5)
    }
    #section-one, #section-two, #section-three, #section-four {
      height: auto;
    }
    .info {
      margin: 4rem 6rem;
    }
    #nyc {
      width: 6rem;
    }
    .presentation-text {
      margin-top: 0.5rem;
    } 
    .blue-background {
      position: relative;
      background-color: transparent;
      border: none;
      left: 0;
    }
    .row {
      flex-direction: column;
      align-items: center;
    }
    .item-sec-2 {
      background-color: #0056c9;
    }
    .item {
      border-radius: 0px 50px 0px 50px;
      padding: 3rem 1rem;
    }
    .white-card {
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .image {
      position: absolute;
    }
    .boxes {
      width: 100%;
      justify-content: center;
    }
    .box {
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .building {
      position: absolute;
      z-index: -1;
      height: auto;
      bottom: 0;
    }
    .form-col {
      background-color: rgba(255,255,255, 0.4) 
    }
    #section-two {
     height: 120rem; 
    }
}

/* ----------- iPhone X ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(255,255,255,0.5)
    }
    #section-one, #section-two, #section-three, #section-four {
      height: auto;
    }
    .info {
      margin: 4rem 6rem;
    }
    #nyc {
      width: 6rem;
    }
    .presentation-text {
      margin-top: 0.5rem;
    } 
    .blue-background {
      position: relative;
      background-color: transparent;
      border: none;
      left: 0;
    }
    .row {
      flex-direction: column;
      align-items: center;
    }
    .item-sec-2 {
      background-color: #0056c9;
    }
    .item {
      border-radius: 0px 50px 0px 50px;
      padding: 3rem 1rem;
    }
    .white-card {
      position: relative;
      width: 100%;
      height: 25rem;
      top: 0;
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .image {
      position: absolute;
    }
    .boxes {
      width: 100%;
      justify-content: center;
    }
    .box {
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .building {
      position: absolute;
      z-index: -1;
      height: auto;
      bottom: 0;
    }
    .form-col {
      background-color: rgba(255,255,255, 0.4) 
    }
    #section-two {
     height: 120rem; 
    }
}