/* ----------- Google Pixel 2----------- */

/* Landscape */
@media screen 
  and (device-width: 731px) 
  and (device-height: 411px) 
  and (orientation: landscape) {
    .header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(255,255,255,0.5)
    }
    #section-one, #section-two, #section-three, #section-four {
      height: auto;
    }
    .info {
      margin: 4rem 6rem;
    }
    #nyc {
      width: 6rem;
    }
    .presentation-text {
      margin-top: 0.5rem;
    } 
    .blue-background {
      position: relative;
      background-color: transparent;
      border: none;
      left: 0;
    }
    .row {
      flex-direction: column;
      align-items: center;
    }
    .item-sec-2 {
      background-color: #0056c9;
    }
    .item {
      border-radius: 0px 50px 0px 50px;
      padding: 3rem 1rem;
    }
    .white-card {
      position: relative;
      width: 100%;
      height: 25rem;
      top: 0;
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .image {
      position: absolute;
    }
    .boxes {
      width: 100%;
      justify-content: center;
    }
    .box {
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .building {
      position: absolute;
      z-index: -1;
      height: auto;
      bottom: 0;
    }
    .form-col {
      background-color: rgba(255,255,255, 0.4) 
    }
    #section-two {
     height: 120rem; 
    }
    #section-three {
     min-height: 50rem; 
    }
}

/* ----------- Google Pixel XL ----------- */

/* Landscape */
@media screen 
  and (device-width: 823px) 
  and (device-height: 411px) 
  
  and (orientation: landscape) {
.header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(255,255,255,0.5)
    }
    #section-one, #section-two, #section-three, #section-four {
      height: auto;
    }
    .info {
      margin: 4rem 6rem;
    }
    #nyc {
      width: 6rem;
    }
    .presentation-text {
      margin-top: 0.5rem;
    } 
    .blue-background {
      position: relative;
      background-color: transparent;
      border: none;
      left: 0;
    }
    .row {
      flex-direction: column;
      align-items: center;
    }
    .item-sec-2 {
      background-color: #0056c9;
    }
    .item {
      border-radius: 0px 50px 0px 50px;
      padding: 3rem 1rem;
    }
    .white-card {
      position: relative;
      width: 100%;
      height: 25rem;
      top: 0;
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .image {
      position: absolute;
    }
    .boxes {
      width: 100%;
      justify-content: center;
    }
    .box {
      box-shadow: 5px 10px 40px 0px rgba(0,0,0,0.5);
    }
    .building {
      position: absolute;
      z-index: -1;
      height: auto;
      bottom: 0;
    }
    .form-col {
      background-color: rgba(255,255,255, 0.4) 
    }
    #section-two {
     height: 120rem; 
    }
    #section-three {
     min-height: 50rem; 
    }
}