.fade-in-right-1 {
	-webkit-animation: fade-in-right 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 100ms both;
	        animation: fade-in-right 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 100ms both;
}
.fade-in-right-2 {
	-webkit-animation: fade-in-right 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 200ms both;
	        animation: fade-in-right 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 200ms both;
}
.fade-in-right-3 {
	-webkit-animation: fade-in-right 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 300ms both;
	        animation: fade-in-right 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 300ms both;
}
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.swing-top-fwd-1 {
	-webkit-animation: swing-top-fwd 2.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0ms both;
	        animation: swing-top-fwd 2.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0ms both;
}
.swing-top-fwd-2{
	-webkit-animation: swing-top-fwd 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 500ms both;
	        animation: swing-top-fwd 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 500ms both;
}

@-webkit-keyframes swing-top-fwd {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}
@keyframes swing-top-fwd {
  0% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}
.fade-in-left {
  -webkit-animation: fade-in-left 1.0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in-left 1.0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.rotate-center {
  -webkit-animation: rotate-center 0.6s ease-in-out 2 alternate-reverse 1000ms both;
          animation: rotate-center 0.6s ease-in-out 2 alternate-reverse 1000ms both;
}

@-webkit-keyframes rotate-center {
  0% {
    background-color: transparent;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  14% {
    -webkit-transform: rotate(-120deg);
            transform: rotate(-120deg);
  }
  29% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  43% {
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg);
  }
  57% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
  71% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  85% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  14% {
    -webkit-transform: rotate(-120deg);
            transform: rotate(-120deg);
  }
  29% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  43% {
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg);
  }
  57% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
  71% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  85% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}


