.header {
	flex-direction: row;
	display: flex;
	justify-content: flex-end;
}
.header-item {
	width: 100px;
	color: #0056c9;
}

.selected {
	color: #ff3124;	
	position: relative;
}
.selected::after{
	content: '';
	height: 2px;
	width:15%;
	background-color: #ff3124;
	position: absolute;
	left: 0;
  	bottom:-5px;
}