@import url("./header.css");
@import url("./section-1.css");
@import url("./section-2.css");
@import url("./section-3.css");
@import url("./section-4.css");
@import url("./components/buttons.css");
@import url("./components/input.css");
@import url(".//effects.css");

body { 
  font: 14px/2 Roboto, serif; 
}

h1, h2 {
  line-height: 1.2;
}

p, ul, h1 { 
  margin: 0 0 1rem 0; 
}
a:hover {
	color: #ff3124
}
#page-wrap {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10vh 5vw 0vh 5vw;
	margin: 5vh 0px 0vh 0px;
	z-index: 99;
	overflow-y: scroll;
}

#section-one, #section-two, #section-three, #section-four {
  	padding: 0px;
  	height: 90vh;
  	background-color: transparent; 
  	position: relative;
}
#section-one{
	position: static;
}

.background-white {
	position: fixed;
	height: 100vh;
	background-color: #fff; 
	left: 5vw;
	right: 5vw;
	top: 5vh;
	bottom: 100vh;
	z-index: -2;  
}

#bridge-background {
	background-image: url("../images/1x/puente-8.png");
	background-position: top center;
	background-size: contain;
	position: absolute;
	background-repeat: no-repeat;
	left: 0vw;
	right: 0vw;
	top: -5vh;
	bottom: 0vh;
	z-index: -1;  
}

.parallax {
  background-image: url("../images/1x/puente-8.png");
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  z-index: -10;  
}
.item-sec-2 {
	-webkit-transform: scale(0);
            transform: scale(0);
}
.box, .box-header, .box-content, .box-footer {
	-webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
}
input {
	-webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
}