.blue-background {
	background-color: #0056c9;
	position: absolute;
	left: 5vw;
	right: -1rem;
	top: 5rem;
	bottom: 10rem;
	border-radius: 0px 100px 0px 100px;
	border: 1px solid #0056c9;
	min-height: 30rem;
	max-height: 27rem;
	
}
.title {
	margin: 2rem 2rem;
	text-align: center;
	font-size: 3rem;
}
.row {
	flex-direction: row;
	display: flex;
	height: 100%;
}
.item {
	width:30rem;
	margin: 4rem 3rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.blue-background span.text {
	color: #fff;
}
.blue-background p.title {
	color: #fff;
	font-size: 1.5rem;
}
.blue-background p.text {
	color: rgba(255,255,255, 0.8);
	margin: 0;
	font-size: 1rem;
}
.blue-background .icon {
	display: flex;
	justify-content: center;
	width: 5rem;
	min-height: 5rem;
	color: #fff;
	border-radius: 50px;
	background-color: rgba(255,255,255, 0.4);
	font-size: 3rem;
	align-items: center;
}
.white-card {
	position: absolute;
	top: 4rem;
	background-color: #fff;
	width: 100%;
	height: 24rem;
	border-radius: 0px 50px 0px 50px;
	box-shadow: 0px 0px 105px 0px rgba(0,87,201,1);
	-webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);

}
.card-content{
	padding: 2rem 1rem;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: hidden;
	-webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
}
.card-content .icon {
	position: relative;
	display: flex;
	justify-content: center;
	width: 5rem;
	height: 5rem;
	color: #0056c9;
	border-radius: 50px;
	font-size: 5rem;
	align-items: center;
}
.card-content p.text {
	color: #000;
}
.card-content p.title {
	color: #0056c9;
	font-size: 1.5rem;
}
.card-reverse {
	position: absolute;
	background-color: #fff;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
.no-margin {
	margin:  0;
}