.info {
	margin: 6rem;
}
.presentation-text {
	font-size: 20px;
	margin-top: 6rem;
}
.autor {
	margin-top: 2rem;
	flex-direction: row;
	display: flex;
	height: 50px;
	align-items: center;
}
.autor p {
	margin-left: 1rem;
}
.avatar {
	border-radius: 50%;
	height: 50px;
}