.reverse {
	justify-content: flex-end;
}
.left {
	text-align: left;
}
.form {
	margin: 2rem 2rem;
	justify-content: flex-start;
	text-align: left;
	width: 100%
}
.building {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;;
}
.footer {
	background-image: url("../images/SVG/footer.svg");
	background-position: bottom right;
	background-size: contain;
	position: absolute;
	background-repeat: no-repeat;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}
.form {
	max-width: 30rem;
}
.form p {
	text-align: center;
	color: #888;
}
.form-col {
	width: 100%;
}
input {
      background-color: transparent;
}