.section {
	display: flex;
	flex-direction: row;
}
.image {
	width: 40%;
}
.boxes {
	width: 60%;
	display: flex;
	flex-direction: row;
  	flex-wrap: wrap;
}
.box {
	background-color: #fff;
	border: 1px solid #eee;
	width: 40%;
	height: 45%;
	margin: 1rem 1rem;
  	border-radius: 0px 50px 0px 50px;
  	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
/*
.simple-box:hover {
	background-color: #0056c9;
	border: 1px solid #0056c9;
	color: #fff;
	width: 40%;
	height: 45%;
	margin: 1rem 1rem;
  	border-radius: 0px 50px 0px 50px;
  	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
*/
.simple-box .box-header:hover {
	color: #fff;
}
.selected-box {
	background-color: #0056c9;
	border: none;
}
.box-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0.5 rem;
	width: 100%;
}

.box-header span {
	color: #0056c9;
	font-size: 1rem;
}
.selected-box .box-header span {
	color: #fff;
}
.box-header-icon{
	width: 30%;
	text-align: center;
	font-size: 3rem;
	color: #0056c9
}
.selected-box .box-header-icon{
	color: #fff
}
.box-content {
	width: 100%;
	margin: 0.5rem 2rem;
}
.box-content p {
	text-align: left;
	color: #888;
	margin-left: 30%;
	margin-bottom: 0;
}
.selected-box .box-content p {
	color: #fff;
}
.box-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0.5rem;
	width: 100%;
}
.price {
	width: 50%;
	text-align: center;
	font-size: 1.5rem;
	color: #000
}
.selected-box .price {
	color: #fff;
}
.footer-button {
	width: 50%;
	text-align: center;
	font-size: 0.8rem;
	color: #0056c9
}
#icon-shadow{
	box-shadow: 2.5rem -1.5rem 0px 0px #669adf; 
}